* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(imagini/imgtable7.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: Sans, Helvetica, Arial;
}

li {
  list-style: none;
  color: #705454;
  font-family: Sans, Helvetica, Arial;
  font-weight: 400;
  line-height: 1, 5;
}

a {
  text-decoration: none;
  color: #2f2f2f;
  font-size: 2rem;
}

a:visited {
  color: #0b0b0b;
}

p {
  font-size: 1.25rem;
}

.top {
  position: relative;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 10px 0;
  background-color: rgb(124, 106, 102);
  box-shadow: 0 5rem rgba(0, 0, 0, 0.2);
}

.nav {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 3rem;
}
.descriere {
  margin: auto;
  margin-top: 50px;
}
h2 {
  text-align: center;
}

.paragrafe {
  margin: 100px;
}
p {
  text-align: justify;
  width: 500px;
  margin: auto;
}

#manufactura {
  margin-top: 600px;
}

#videoTube {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

#videoTube > iframe {
  max-width: 560px;
  width: 100%;
}

.galerie {
  margin-top: 100px;
  margin-bottom: 100px;
}
/* aranjarea imaginilor*/
.imagini {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  row-gap: 40px;
  justify-items: center;
  height: auto;
  background-color: transparent;
  padding: 20px;
  align-items: baseline;
  height: 550px;
}

.imagini > div {
  border: 5px transparent;
  padding: 20px;
}

.contact {
  margin-top: 50px;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

/* css pt butonul Trimite*/
.buton {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
  margin: 20px auto;
}

.buton:focus {
  border-color: #1f1d1d;
  box-shadow: 0 0 5px #2c2424;
}

/* css pt adresa de email*/
#email {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #1f1d1d;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#email:focus {
  border-color: #1f1d1d;
  box-shadow: 0 0 5px #2c2424;
}

#email::placeholder {
  color: #888;
  font-style: italic;
}

.footer {
  background-color: #705454;
  color: white;
  padding: 20px 0;
  font-family: Arial, sans-serif;
  text-align: left;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  p {
    width: 100%;
    text-align: justify;
    margin: auto;
    overflow: visible;
    display: block;
  }
  .imagini {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: 15px;
  }

  .imgini::after {
    content: "";
    clear: both;
    display: table;
  }

  .contact {
    margin-top: 1100px;
  }

  .header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
    background-color: rgb(124, 106, 102);
    box-shadow: 0, 5rem;
  }

  .nav {
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
    width: 100%;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  p {
    width: 500px;
    text-align: left;
    margin-left: 10px;
    overflow: auto;
  }
  .imagini {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: 15px;
  }

  .galerie::after {
    content: "";
    clear: both;
    display: table;
  }

  .contact {
    margin-top: 1100px;
  }

  .header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
    background-color: rgb(124, 106, 102);
    box-shadow: 0, 5rem;
  }

  .nav {
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
    width: 100%;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .imagini {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    row-gap: 40px;
    justify-items: center;
    height: auto;
    background-color: transparent;
    padding: 20px;
    align-items: baseline;
    height: 550px;
  }
  p {
    text-align: justify;
    width: 500px;
    margin: auto;
  }

  .contact {
    margin-top: 150px;
  }

  .header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 10px 0;
    background-color: rgb(124, 106, 102);
    box-shadow: 0, 5rem;
  }

  .nav {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    width: 100%;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3rem;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .imagini {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    row-gap: 40px;
    justify-items: center;
    height: auto;
    background-color: transparent;
    padding: 20px;
    align-items: baseline;
    height: 550px;
  }
  p {
    text-align: justify;
    width: 500px;
    margin: auto;
  }

  .contact {
    margin-top: 100px;
  }

  .header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 10px 0;
    background-color: rgb(124, 106, 102);
  }

  .nav {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    width: 100%;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3rem;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .imagini {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    row-gap: 40px;
    justify-items: center;
    height: auto;
    background-color: transparent;
    padding: 20px;
    align-items: baseline;
    height: 550px;
  }
  p {
    text-align: justify;
    width: 500px;
    margin: auto;
  }

  .contact {
    margin-top: 100px;
  }

  .header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 10px 0;
    background-color: rgb(124, 106, 102);
    box-shadow: 0, 5rem;
  }

  .nav {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    width: 100%;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3rem;
  }
}
